
@font-face
{
		font-family: 'RSURegular';
		src: url('../fonts/rsu_regular.eot');
		src: url('../fonts/rsu_regular.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/rsu_regular.woff') format('woff'),
				 url('../fonts/rsu_regular.ttf') format('truetype');
				 url('../fonts/rsu_regular.svg#RSURegular') format('svg');
		font-weight: normal;
		font-style: normal;
	unicode-range: U+0E00-0E7F;*/
}

html
{
	overflow-y: scroll;
}

h1, h2
{
	font-family: RSURegular, Arial, Helvetica, sans-serif;
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #f5f5f5;
}

body .modal
{
	width: 480px;
	margin: -210px 0 0 -240px;
}

#page
{
	margin-bottom: 5px;
	background: #f5f5f5;
	/*border: 1px solid #C9E0ED;*/
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

.navbar-inner
{
	min-height: 50px;
	font-family: RSURegular, Arial, Helvetica, sans-serif;
	font-size: 16pt;
}

.navbar-inner li
{
	line-height: 30px;
}

.navbar .nav .dropdown-toggle .caret
{
	margin-top: 10px;
}

.header-section
{
		background: url("../images/class.jpg") rgb(201, 204, 208);
		border-bottom: 1px solid;
		box-shadow: 0px 0px 30px black;

}

.header-wrapper
{
	margin-top: 100px;
	margin-bottom: 150px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

.nav-tabs > .active > a, .nav-tas > .active > a:hover {
	background-color: #f5f5f5;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	margin-top: 10px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.downloadlink a
{
	padding: 0px 20px 0px 20px;
}

.rounded-corners
{
	-moz-border-radius: 10px;
	-webkit-border-radious: 10px;
	-khtml-border-radious: 10px;
	behavior: url(border-radious.htc);
	border-radius: 10px;
}

.login-signup-wrapper
{
	padding: 20px;
	border: solid 2px gray;
	background-color: white;
}

.login-signup-wrapper h1
{
	margin: 0 0 10px 0;
}

.login-signup-wrapper input
{
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}

#login-form .buttons
{
	margin-top: 18px;
}

.header-section
{
	margin-top: -20px;
	margin-bottom: 40px;
}

.course-category
{
	margin-bottom: 40px;
}

#course-form label
{
	font-size: 14pt;
}

#course-header 
{
	margin-top: -20px;
	background: url("../images/bg.jpg") repeat fixed 0% 0% rgb(201, 204, 208);
	border-bottom: 1px solid;
	box-shadow: 0px 0px 30px black;
}

#course-header .course-header-wrapper
{
	margin-bottom: 60px;
	margin-top: 50px;
}

#course-header #course-intro-video
{
	box-shadow: 5px 5px 15px black;
}

#course-header #course-institute-logo
{
	margin-left: 60px;
	margin-bottom: 10px;
}

#course-header #course-header-name
{
	margin-left: 60px;
}

#course-header #course-description
{
	margin-top: 20px;
	margin-left: 60px;
	margin-bottom: 20px;
	font-size: 1.4em;
}

#course-header #course-header-button
{
	margin-top: 20px;
	margin-left: 60px;
}

#course-summary
{
	margin-top: 40px;
	margin-bottom: 30px;
}

#course-summary p.well
{
	margin-top: 10px;
	font-size: 1.2em;
}

#course-syllabus #chapter-accordion
{
	margin-top: 10px;
}

#course-syllabus .accordion-heading
{
	font-size: 1.2em;
}

#course-syllabus .accordion-inner li 
{
	font-size: 1.1em;
	line-height: 1.7em;
}

#course-instructors .instructor
{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
}

#course-instructors .instructor-image
{
	float: left;
	padding: 0 20px 8px 0;
}

#course-instructors .instructor-image img
{
	width: 120px;
	height: 140px;
	box-shadow: 3px 5px 5px black;
}

#course-instructors .instructor-detail h3
{
	line-height: 17px;
	margin-bottom: 10px;
}

#course-instructors .instructor-detail h4
{
	line-height: 20px;
	margin-bottom: 10px;
}

#course-instructors .instructor-detail p
{
	line-height: 1.6em;
	font-size: 1.2em;
}
 
#course-tabs
{
	margin-top: 10px;
}

#course-tabs .tab-content
{
	overflow: hidden;
}


#edit-course-menu .btn-toolbar
{
	padding: 10px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Videos */ 
.videoWrapper {
	position: relative;
	padding-bottom: 61.8%; /* video dimensions - width/height */
	padding-top: 0px;
	height: 0;
	z-index: 1000;
}

video {
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	z-index: 1;
}		

video.video-js {
	z-index: 1000;
}							 

.video-js-box .vjs-controls {
	z-index: 1002;
}

.video-js-box .vjs-big-play-button {
	z-index: 1002;
}

.videoWrapper .video-js-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	z-index: 1;
	background: #000000;
}				 

.videoWrapper object,
.videoWrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100% !important;
	z-index: 1;
}				

.vjs-spinner {
	display: none !important;
}

.video-js-box img.vjs-poster {
	height: 100% !important;
	width: 100% !important;
}
