
@font-face
{
		font-family: 'RSURegular';
		src: url('../fonts/rsu_regular.eot');
		src: url('../fonts/rsu_regular.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/rsu_regular.woff') format('woff'),
			 url('../fonts/rsu_regular.ttf') format('truetype');
			 url('../fonts/rsu_regular.svg#RSURegular') format('svg');
		font-weight: normal;
		font-style: normal;
	unicode-range: U+0E00-0E7F;*/
}

html
{
	overflow-y: scroll;
}

h1, h2, h3
{
	font-family: RSURegular, Helvetica, Ariel, sans-serif;
	text-shadow: 1px 2px 1px #fff;
}

body
{
	margin: 0;
	padding: 0;
	color: #454545;
	font: normal 10pt Arial,Helvetica,sans-serif;
	text-shadow: 0px 1px 0px #fff;
	background: #f5f5f5;
	background: url("../images/bg.png") repeat 0% 0%;
}

body .modal
{
	width: 480px;
	margin: -210px 0 0 -240px;
}

a
{
	color: rgb(69,69,69);
}

a:hover
{
	text-decoration: none;
}

.btn-group > .btn
{
	font-family: RSURegular, Arial, Helvetica, sans-serif;
	font-size: 22px;
	height: 40px;
	line-height: 40px;
}

legend
{
	font-family: RSURegular, Arial, Helvetica, sans-serif;
	font-size: 2em;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input 
{
	font-size: 16px;
	height: 30px;
}

textarea
{
	height: 90px;
}

input[type="submit"]
{
    font-family: RSURegular, Arial, Helvetica, sans-serif;
    font-size: 2em;
    height: 40px;
}

label
{
	font-family: RSURegular, Arial, Helvetica, sans-serif;
}

#page
{
	margin-bottom: 5px;

	/*border: 1px solid #C9E0ED;*/
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

.navbar-inner
{
	min-height: 50px;
	font-family: RSURegular, Arial, Helvetica, sans-serif;
	font-size: 16pt;
}

.navbar-inner li
{
	line-height: 30px;
}

.navbar .nav .dropdown-toggle .caret
{
	margin-top: 10px;
}

.dropdown-menu a
{
	line-height: 30px;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu > a
{
	background: rgb(137, 137, 137); /* for non-css3 browsers */

	background: linear-gradient(to bottom, rgb(155,155,155), rgb(120,120,120));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(155,155,155)), to(rgb(120,120,120))); /* for webkit browsers */
	background: -moz-linear-gradient(top,	rgb(155,155,155),	rgb(120,120,120)); /* for firefox 3.6+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b9b9b', endColorstr='#787878'); /* for IE */
}

.header-section
{
		background: url("../images/class.jpg") no-repeat rgb(201, 204, 208);
		border-bottom: 1px solid;
		box-shadow: 0px 0px 30px black;

}

.header-wrapper
{
	margin-top: 100px;
	margin-bottom: 100px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

.nav-tabs > .active > a, .nav-tas > .active > a:hover {
	background-color: #f5f5f5;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	margin-top: 10px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.downloadlink a
{
	padding: 0px 20px 0px 20px;
}

.rounded-corners
{
	-moz-border-radius: 10px;
	-webkit-border-radious: 10px;
	-khtml-border-radious: 10px;
	behavior: url(border-radious.htc);
	border-radius: 10px;
}

.login-signup-wrapper
{
	padding: 20px;
	border: solid 2px gray;
	background-color: white;
}

.login-signup-wrapper h1
{
	margin: 0 0 10px 0;
}

.login-signup-wrapper input
{
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}

.login-signup-wrapper input[type="checkbox"]
{
	width: 5%;
}

#login-form .buttons
{
	margin-top: 21px;
	margin-bottom: 21px;
}

.header-section
{
	margin-top: -20px;
	margin-bottom: 40px;
}

.course-category
{
	margin-bottom: 40px;
}

.coursethumbnail:hover
{
	box-shadow: 0px 2px 6px rgb(0, 84, 124);
}

.coursethumbnail:hover .thumbnail-caption-container
{
	background-color: #ededed;
	text-shadow: 2px 2px 2px #777;
}

.coursethumbnail .thumbnail-caption-container
{
	background-color: rgb(245, 245, 245);
}

#course-form label
{
	font-size: 1.6em;
}

#course-form .input-row
{
	margin-bottom: 10px;
}

#course-form input[type="text"]
{
	width: 95%;
}

#course-form textarea
{
	width: 95%;
	height: 200px;
}

#course-form select
{
	height: 40px;
	padding: 4px 6px;
}

#course-form input[type="submit"]
{
	margin-top: 5px;
	width: 100px;
	height: 50px;
}

#course-header 
{
	margin: -20px 0 40px 0;
	background: url("../images/low_contrast_linen.png") repeat 0% 0% rgb(201, 204, 208);
	border-bottom: 1px solid;
	box-shadow: 0px 0px 30px black;
}

#course-header .course-header-wrapper
{
	margin-bottom: 60px;
	margin-top: 50px;
	font-family: RSURegular, Arial, Helvetica, sans-serif;
}

#course-header #course-intro-video
{
	box-shadow: 5px 5px 15px black;
}

#course-header #course-header-name
{
	margin-left: 60px;
	text-align: center;
}

#course-header-in-class
{
	margin-bottom: 30px;
}

#course-header-name h1
{
	color: #f5f5f5;
	font-size: 3.5em;
	filter: shadow(color=#000000,direction=135,strength=5);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=5)";
	text-shadow: #000 0px 2px 5px;
}

#course-header-name h3
{
	filter: shadow(color=#000000,direction=135,strength=5);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=5)";
	text-shadow: #000 1px 1px 1px;
	color: #eeeeee;
}

#course-description
{
	margin-top: 20px;
	margin-left: 60px;
	margin-bottom: 20px;
	font-size: 2.2em;
	font-family: RSURegular, Arial, Helvetica, sans-serif;
	color: white;
	text-align: center;
	filter: shadow(color=#000000,direction=135,strength=5);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=5)";
	text-shadow: #000 1px 1px 3px;
}

#course-header #course-header-button
{
	margin-top: 20px;
	margin-left: 60px;
	text-align: center;
}

#course-header-button .btn-large
{
	font-size: 2em;
}

.login-signup-flipper
{
    font-family: RSURegular, Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	text-align: left;
}

.login-signup-flipper a
{
	color: rgb(0, 136, 204);
}

.login-signup-flipper label
{
	font-size: 1em;
}

.login-signup-flipper .rememberMe input[type="checkbox"]
{
	margin: 0;
}

.login-signup-flipper .buttons input
{
    font-family: RSURegular, Arial, Helvetica, sans-serif;
	font-size: 2em;
	height: 60px;
}

#course-header-button .login-signup-flipper
{
	padding-left: 40px;
}

#course-summary p.well
{
	margin-top: 10px;
	font-size: 1.2em;
	text-shadow: 0px 1px 0px #ffffff;
	background-color: #ffffff;
}

#course-syllabus #chapter-accordion
{
	margin-top: 10px;
}

.accordion-heading
{
    font-family: RSURegular, Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	background-color: rgb(240, 240, 240);
	background-image: linear-gradient(rgb(255,255,255), rgb(235,235,235));
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255,255,255)), to(rgb(235,235,235))); /* for webkit browsers */
    background: -moz-linear-gradient(top,   rgb(255,255,255),   rgb(235,235,235)); /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb'); /* for IE */

}

.accordion-heading a
{
	color: rgb(68, 68, 68); 
}

.accordion-inner
{
	background-color: #ffffff;
}

.accordion-inner li 
{
	font-size: 1.2em;
	line-height: 1.8em;
}

#course-instructors .instructor
{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
}

#course-instructors .instructor-image
{
	float: left;
	padding: 0 20px 8px 0;
}

#course-instructors .instructor-image img
{
	width: 120px;
	height: 140px;
	box-shadow: 3px 5px 5px black;
}

#course-instructors .instructor-detail h3
{
	line-height: 17px;
	margin-bottom: 10px;
}

#course-instructors .instructor-detail h4
{
	line-height: 20px;
	margin-bottom: 10px;
}

#course-instructors .instructor-detail p
{
	line-height: 1.6em;
	font-size: 1.2em;
}
 
#course-tabs
{
	margin-top: 10px;
}

.nav-tabs a
{
    font-family: RSURegular, Arial, Helvetica, sans-serif;
	font-size: 1.6em;
}

#course-tabs .tab-content
{
	overflow: hidden;
}


#edit-course-menu .btn-toolbar
{
	padding: 10px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Videos */ 
.videoWrapper {
	position: relative;
	padding-bottom: 55.8%; /* video dimensions - width/height */
	padding-top: 0px;
	height: 0;
	z-index: 10;
}

video {
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	z-index: 1;
}		

video.video-js {
	z-index: 1000;
}							 

.video-js-box .vjs-controls {
	z-index: 1002;
}

.video-js-box .vjs-big-play-button {
	z-index: 1002;
}

.videoWrapper .video-js-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	z-index: 1;
	background: #000000;
}				 

.videoWrapper object,
.videoWrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100% !important;
	z-index: 1;
}				

.vjs-spinner {
	display: none !important;
}

.video-js-box img.vjs-poster {
	height: 100% !important;
	width: 100% !important;
}

.assessments h4
{
	font-family: RSURegular, Arial, Helvetica, sans-serif;
	font-size: 1.6em;
}

.assessment-prompt
{
	font-family: RSURegular, Arial, Helvetica, sans-serif;
	font-size: 1.6em;
}
.assessment-choices
{
	padding-left: 10px;
}

.assessment-choices label
{
	font-size: 1.6em;
	padding-left: 10px;
}

#lecture-content-wrapper
{
    position: relative;
    padding-bottom: 56.3%; /* video dimensions - width/height */
    padding-top: 0px;
    height: 0;
    z-index: 10;
}
