
@font-face
{
    font-family: 'RSURegular';
    src: url('../fonts/rsu_regular.eot');
    src: url('../fonts/rsu_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rsu_regular.woff') format('woff'),
         url('../fonts/rsu_regular.ttf') format('truetype');
         url('../fonts/rsu_regular.svg#RSURegular') format('svg');
    font-weight: normal;
    font-style: normal;
	unicode-range: U+0E00-0E7F;*/
}

h1, h2
{
	font-family: RSURegular, Arial, Helvetica, sans-serif;
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	/*background: #EFEFEF;*/
	background: white;
}

#page
{
	margin-top: 40px;
	margin-bottom: 5px;
	background: white;
	/*border: 1px solid #C9E0ED;*/
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	margin-top: 10px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.downloadlink a
{
	padding: 0px 20px 0px 20px;
}

#course-header .course-header-wrapper
{
}

#course-header #course-intro-video
{
}

#course-header .course-button
{
	float: right;
}

#course-header #course-description
{
	margin-top: 20px;
}

#course-summary
{
	margin-top: 20px;
}

#course-instructors .instructor
{
	margin-left: 10px;
	margin-bottom: 20px;
}

#course-instructors .instructor-image
{
	float: left;
	padding: 0 20px 8px 0;
}

#course-instructors .instructor-detail h3
{
	line-height: 17px;
	margin-bottom: 10px;
}

#course-instructors .instructor-detail h4
{
	line-height: 20px;
	margin-bottom: 10px;
}

.lecture .lecture-name
{
	margin-bottom: 10px;
}

.lecture .icon
{
	margin: 0 10px 0 10px;
}

.lecture .play
{
	width: 30px;
}

.lecture .material
{
	height: 20px;
}

.lecture-items
{
	margin-bottom: 30px;
