	
	#paginator {
		height:40px;
	}
	#paginator_o_left {
		width:22px; height:15px;
		float:left;
		background:url(../img/btn-precedent.bmp);
		margin:4px 4px 0 0;
	}
	#paginator_o_right {
		width:22px; height:15px;
		float:left;
		background:url(../img/btn-suivant.bmp);
		margin:4px 0 0 4px;
	}
	#paginator_m_left {
		cursor:pointer;
		width:22px; height:15px;
		float:left;
		background:url(../img/btn-precedent-max.bmp);
		margin:4px 2px 0 0;
	}
	#paginator_m_right {
		cursor:pointer;
		width:22px; height:15px;
		float:left;
		background:url(../img/btn-suivant-max.bmp);
		margin:4px 0 0 2px;
	}
	/* must set border width with px */
	#paginator .paginator-p {
		width:25px;
		height:18px;
		font-weight:bold;
		color: #007edf;
		background-color:transparent;
		border:none;
		padding:3px 0 2px 0;
	} 
	#paginator .paginator-p-bloc {
	}
	#paginator .paginator-p:hover {
		color:white;
		background-color:#25a29e;
	}
	#paginator .paginator-p.selected {
		color:white;
		background-color:#dd5c78;
	}
	#paginator .paginator-slider {
		background-color:#f2d21b;
		left:50px;
	}
	#paginator .paginator-slider .ui-slider-handle {
		width: 4px;
		height: 9px;
		top: -4px;
		background-color:#f18fa8;
		border: solid 1px black ;
	}
	#paginator-control {
		margin: 10px 10px 0 0;
	}
