.coursethumbnail{
	float:left;
	min-width:90%;
	margin:4px;
	padding:0;
	box-shadow: 0px 2px 4px rgb(170, 170, 170);
	-moz-box-shadow: 0px 2px 4px rgb(170, 170, 170);
	-webkit-box-shadow: 0px 2px 4px rgb(170, 170, 170);
	border: 1px solid rgb(188, 190, 192);
	background-color:none repeat scroll 0% 0% rgb(247, 247, 247);
	color:rgb(51,51,51);
}

.coursethumbnail:hover{
	background: none repeat scroll 0% 0% rgb(238, 238, 238);
	box-shadow: 0px 2px 4px rgb(0, 0, 0);
	-moz-box-shadow: 0px 2px 4px rgb(0, 0, 0);
	-webkit-box-shadow: 0px 2px 4px rgb(0, 0, 0);
	border: 1px solid rgb(188, 190, 192);
	text-decoration:none;
	color:rgb(51,51,51);
}

.coursethumbnail-container
{
	width: 300px;
}

.course-thumbnail-uploader label
{
	font-size: 1.6em;
}

.coursethumbnail .thumbnail-img-container{
	margin:0;
	padding:0;
	background-color: white;
	height:140px;
}

.coursethumbnail .thumbnail-caption-container{
	margin:0;
	padding:15px 6px 0px 6px;
	word-wrap: break-word;
	height:80px;
}

.coursethumbnail .thumbnail-caption-container h5
{
	margin: 0;
}

.coursethumbnail img{
	padding:0;
	display:block;
	margin:0px auto 0 auto;
	max-width:100%;
	max-height:100%;
}

.upload-thumbnail-caption-container
{
	padding: 5px;
}

.upload-thumbnail-file-container
{  
	padding: 5px;
}

.qq-upload-list
{
	display: none;
}
