.file-uploader-container
{
   display:table-cell;
   height:40px;
   line-height:40px;
   vertical-align:middle;
}

.file-upload-btn
{
    position:relative;
    width:120px;
}

.file-name
{
    border:1px solid #E1E1E1;
    border-radius:3px;
    padding:2px;
    width:400px !important;
    display:inline-block;
    height:30px !important;
    vertical-align:middle;
    background:#F8F7F0;
    position:relative;
    top:10px;
}

.file-name-text
{
    position:absolute;
    left:10px;
    vertical-align:middle;
}

.file-file
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    opacity:0;
    filter:alpha(opacity=0);
}

