.accordion-inner-wrapper
{
	margin: 10px;
}

.accordion-inner li a
{
	position: relative;
	display: block;
	padding: 7px 60px 7px 7px;
}

.accordion-inner li em
{
	position: absolute;
	top: 7px;
	right: 7px;
}

.chapter .accordion-inner
{
    padding: 0px;
    margin: 0px;
}

.chapter ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;

}


.chapter ul li.lecture
{
    padding-bottom: 5px;
    margin: 0;
    background-color: #FFFFCC;
}

.chapter ul li.lecture .active
{
    background-color: #FFFFCC;
}

.lecture .lecture-name
{
    padding: 2px 2px 2px 20px;
    background-color: #AAAAAA;
    color: white;
}

.lecture .icon
{
    margin: 0 10px 0 10px;
}

.lecture .play
{
    width: 30px;
}

.lecture .material
{
    height: 20px;
}

.lecture .lecture-items
{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.content-list
{
    margin:0px;
}

.content-editing
{
	height:auto !important;
}

.editable-chapter
{
	height:40px !important;
	line-height:40px !important;
}
.editable-chapter,
.editable-lecture
{
    height:40px;
    line-height:40px;
    display:inline-block;
    margin:2px 0px;
    padding:4px 14px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align:middle;
    cursor:move;
    list-style:none;
    width:95%;
    float:right;
    border: 1px solid #bbbbbb;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.editable-lecture
{
    width:90%;
    float:right;
}

.editable-chapter .content-prefix,
.editable-lecture .content-prefix
{
    font-size:20px;
    font-weight:bold;
}

.editable-chapter .content-name,
.editable-lecture .content-name
{
    font-size:20px;
}

.editable-chapter .edit-panel,
.editable-lecture .edit-panel
{
    float: right;
	display: none;
}

.editable-chapter input[type=text]:disabled,
.editable-lecture input[type=text]:disabled
{
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	background-color:transparent;
	border:0;
	outline:none;
	outline-offset:0;
	cursor:move;
}

.content-handle
{
	cursor:move;
}

.add-content-panel
{
    clear:both;
}

.content-type-icon-container
{
    width:70px !important;
    display:inline-block;
    margin:2px 10px;
    padding:4px 14px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align:middle;
    border: 1px solid #bbbbbb;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    overflow:hidden;	
}

.content-type-icon-panel a,
.content-type-icon-panel a:hover
{
    color:auto !important;
    text-decoration:none;
}
