.accordion-inner-wrapper
{
	margin: 10px;
}

.accordion-inner li a
{
	position: relative;
	display: block;
	padding: 7px 60px 7px 7px;
}

.accordion-inner li em
{
	position: absolute;
	top: 7px;
	right: 7px;
}

.chapter .accordion-inner
{
    padding: 0px;
    margin: 0px;
}

.chapter ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;

}


.chapter ul li.lecture
{
    padding-bottom: 5px;
    margin: 0;
    background-color: #FFFFCC;
}

.chapter ul li.lecture .active
{
    background-color: #FFFFCC;
}

.lecture .lecture-name
{
    padding: 2px 2px 2px 20px;
    background-color: #AAAAAA;
    color: white;
}

.lecture .icon
{
    margin: 0 10px 0 10px;
}

.lecture .play
{
    width: 30px;
}

.lecture .material
{
    height: 20px;
}

.lecture .lecture-items
{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.content-list
{
    margin:0px;
}

.content-editing
{
	height:auto !important;
}

.editable-chapter
{
	height:40px !important;
	line-height:40px !important;
}
.editable-chapter,
.editable-lecture,
.editable-quiz
{
    height:40px;
    line-height:40px;
    display:inline-block;
    margin:2px 0px;
    padding:4px 14px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align:middle;
    cursor:move;
    list-style:none;
    width:95%;
    float:right;
    border: 1px solid #bbbbbb;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.editable-lecture,
.editable-quiz
{
    width:90%;
    float:right;
}

.editable-chapter .content-prefix,
.editable-lecture .content-prefix,
.editable-quiz .content-prefix
{
    font-size:20px;
    font-weight:bold;
}

.editable-chapter .content-name,
.editable-lecture .content-name,
.editable-quiz .content-name
{
    font-size:20px;
}

.editable-chapter .edit-panel,
.editable-lecture .edit-panel,
.editable-quiz .edit-panel
{
    float: right;
	display: none;
}

.editable-chapter input[type=text]:disabled,
.editable-lecture input[type=text]:disabled,
.editable-lecture input[type=text]:disabled
{
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	background-color:transparent;
	border:0;
	outline:none;
	outline-offset:0;
	cursor:move;
}

.content-handle
{
	cursor:move;
}

.add-content-panel
{
    clear:both;
}

.content-type-icon-container
{
    width:70px !important;
    display:inline-block;
    margin:2px 10px;
    padding:4px 14px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align:middle;
    border: 1px solid #bbbbbb;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    overflow:hidden;	
}

.content-type-icon-panel a,
.content-type-icon-panel a:hover
{
    color:auto !important;
    text-decoration:none;
}

.question-list ul
{
    list-style-type: none;
}

.question
{
    line-height:40px !important;
    height:40px !important;
}

.choice-list ul
{
    list-style-type: none;
    margin:0;
}

.question-form-container input[type=text]
{
    height:20px;
}

.video-thumbnail
{
    float:left;
    width:200px;

    margin:4px;
    padding:0;
    box-shadow: 0px 2px 4px rgb(170, 170, 170);
    -moz-box-shadow: 0px 2px 4px rgb(170, 170, 170);
    -webkit-box-shadow: 0px 2px 4px rgb(170, 170, 170);
    border: 1px solid rgb(188, 190, 192);
    background-color:none repeat scroll 0% 0% rgb(247, 247, 247);
    color:rgb(51,51,51);
}

.video-title,
.video-duration
{
    float:left;
}

.material-list .title
{
    font-size:20px;
    font-weight: bold;
}

.material-list table {
    font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 320px;
    }

.material-list th {
    padding: 0 0.5em;
    text-align: left;
    }

.material-list tr.yellow td {
    border-top: 1px solid #FB7A31;
    border-bottom: 1px solid #FB7A31;
    background: #FFC;
    }

.material-list td {
    border-bottom: 1px solid #CCC;
    padding: 0 0.5em;
    }

.material-list td.width {
    width: 190px;
    }

.material-list td.adjacent {
    border-left: 1px solid #CCC;
    text-align: center;
}