.accordion-inner-wrapper
{
	margin: 10px;
}

.accordion-inner li a
{
	position: relative;
	display: block;
	padding: 7px 60px 7px 7px;
}

.accordion-inner li em
{
	position: absolute;
	top: 7px;
	right: 7px;
}

.chapter .accordion-inner
{
    padding: 0px;
    margin: 0px;
}

.chapter ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;

}


.chapter ul li.lecture
{
    padding-bottom: 5px;
    margin: 0;
    background-color: #FFFFCC;
}

.chapter ul li.lecture .active
{
    background-color: #FFFFCC;
}

.lecture .lecture-name
{
    padding: 2px 2px 2px 20px;
    background-color: #AAAAAA;
    color: white;
}

.lecture .icon
{
    margin: 0 10px 0 10px;
}

.lecture .play
{
    width: 30px;
}

.lecture .material
{
    height: 20px;
}

.lecture .lecture-items
{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.content-list
{
    margin:0px;
}
.editable-chapter,
.editable-lecture
{
    list-style:none;
}

.editable-chapter input[type=text],
.editable-lecture input[type=text]
{
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	background-color:transparent;
	border:0;
	outline:none;
	outline-offset:0;
}
